#footer {
  text-align: center;
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color: rgb(87, 153, 161);
  background: rgb(75, 72, 72);
  padding:8px;
}
#header {
  text-align: center;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  background:rgb(66, 58, 184);
  padding:8px;
  letter-spacing: 10px;
  font-weight: 900;
  font-size: 50px;
  color:rgb(15, 19, 4);
}
.title-button {
  float: left;
}

#render {
  font-size: 25px;
  margin: 150px 50px 300px 50px;
}

.box {
  background-color:rgb(87, 160, 132); 
  color: rgb(34, 194, 48);
  height: 200px;
  width: 80%;
  text-align: left;
  overflow-y: scroll;
  margin-top: 2% 0 2% 5%;
  border-radius: 10px;
}
.inner-box {
  margin: 2% 5% 2% 5%;
}
a {
  color: rgb(175, 194, 148);
}