<div id="header">
<nav class="navbar fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="\">Pierre's Sweet and Savory Treats</a>
      <button class="btn"><i class="far fa"></i> @Html.ActionLink("Home", "Index","Home")</button>
      <button class="btn"><i class="fa fa-stylist-reader"></i>@Html.ActionLink("Flavors", "Index","Flavors")</button>
      <button class="btn"><i class="fa fa-stylist"></i> @Html.ActionLink("Treats", "Index","Treats")</button>
    </nav>
</div>